        <header id="header" class="media">
            <a href="" id="menu-toggle"></a> 
            <%= link_to root_path, :class => "logo pull-left" do %>ZOË AHS 0.1<% end %>
            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="pull-left tm-icon">
                        <a data-drawer="messages" class="drawer-toggle" href="#">
                            <i class="sa-top-message"></i>
                            <i class="n-count animated">5</i>
                            <span>Messages</span>
                        </a>
                    </div>
                    <div class="pull-left tm-icon">
                    	<a data-drawer="notifications" class="drawer-toggle" href="#" id="notify_clicker">
                            <i class="sa-top-updates"></i>
                            <% if current_user.user_updates.unread.count > 0 %><i class="n-count animated unread"><%= current_user.user_updates.unread.count %></i><% end %>
                            <span>Updates</span>
                        </a>
                    </div>


                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>
					<div class="pull-right" id="top-alert">
						<% if notice != nil %><%= notice %><% end %>
						<% if alert != nil %><%= alert %><% end %>
					</div>
                    
                    <div class="media-body">
                        <input type="text" class="main-search">
                    </div>
                </div>
            </div>
        </header>
