<!-- Notification Drawer -->
<div id="notifications" class="tile drawer animated">
    <div class="listview narrow">
        <div class="media">
            <a href="">Notification Settings</a>
            <span class="drawer-close">&times;</span>
        </div>
        <div class="overflow" style="height: 254px">
        	<% current_user.user_updates.last(5).each do |update| %>
	            <div class="media">
	                <div class="pull-left text-left">
	                	<i class="fa <%= update.icon %> fa-3x fa-fw"></i>
	                    <!-- <img width="40" src="/img/profile-pics/1.jpg" alt=""> -->
	                </div>
	                <div class="media-body">
	                    <small class="text-muted"><%= update.posted_by ? update.posted_by.username : "System" %>&nbsp;-&nbsp;<%= time_ago_in_words(update.created_at) %> ago</small><br>
	                    <a class="t-overflow" href=""><%= update.description %></a>
	                </div>
	            </div>
            <% end %>
        </div>
        <div class="media text-center whiter l-100">
            <a href=""><small>VIEW ALL</small></a>
        </div>
    </div>
</div>