<h4 class="page-title">Safke</h4>
<div class="block-area" id="horizontal">
	<h3 class="block-title">Editing Safke</h3>
<%= render 'form' %>
<%= link_to 'Show', @safke %> |
<%= link_to 'Back', safkes_path %>
</div>
