<h4 class="page-title">Safkes</h4>
<div class="block-area" id="defaultStyle">
	<h3 class="block-title">Safkes index</h3>
<div class="table-responsive overflow" style="overflow: hidden; outline: none;">
	<table class="table table-bordered table-hover tile">
	  <thead>
	    <tr>
		      <th>Safke op </th>
		      <th class="text-right col-md-2"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @safkes.each do |safke| %>
	      <tr>
		        <td><%= safke.created_at.to_formatted_s(:short) %></td>
		        <td class="text-right col-md-2"><!--<%= link_to safke, :class => "btn m-r-5" do %><i class="fa fa-eye fa-fw"></i><% end %>-->
	        <!-- <%# link_to edit_safke_path(safke), :class => "btn m-r-5" do %><i class="fa fa-pencil fa-fw"></i><%# end %> -->
	        <%= link_to safke, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn m-r-5" do %><i class="fa fa-trash-o fa-fw"></i><% end %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<br>

<%= link_to 'New Safke', new_safke_path, :class => "btn", remote: true %>
</div>